@model ManufacturerEditDto

@{
    ViewData["Title"] = "Edit Manufacturer";
}

<div class="d-flex justify-content-center pt-2">
    <h1 class="m-0">
        <i class="fas fa-industry"></i> &nbsp;@ViewData["Title"] &nbsp;
        <a asp-action="Manage"><i class="fas fa-undo-alt"></i></a>
    </h1>
</div>
<hr class="hr-jun w-50 my-2" />

<div class="w-50 pt-4 px-2 mt-4 mx-auto">
    <form asp-action="Edit" method="post">
        <div class="form-row justify-content-between px-2">
            <div class="form-group col-md-5">
                <label class="h4" asp-for="@Model.Name"></label>
                <input asp-for="@Model.Name" class="form-control" placeholder="Manufacturer Name..." required maxlength="128" />
                <span asp-validation-for="@Model.Name" class="text-danger"></span>
            </div>
            <div class="form-group col-md-5">
                <label class="h4" asp-for="@Model.WebAddress"></label>
                <input type="url" class="form-control" asp-for="@Model.WebAddress" placeholder="optional..." />
                <span asp-validation-for="@Model.WebAddress" class="text-danger"></span>
            </div>
        </div>
        <div class="form-row justify-content-between px-2">
            <div class="form-group  col-md-5">
                <label class="h4" asp-for="@Model.Email"></label>
                <input type="email" class="form-control" asp-for="@Model.Email" placeholder="optional..." />
                <span asp-validation-for="@Model.Email" class="text-danger"></span>
            </div>
            <div class="form-group col-md-5">
                <label class="h4" asp-for="@Model.PhoneNumber"></label>
                <input class="form-control" asp-for="@Model.PhoneNumber" placeholder="optional..." />
                <span asp-validation-for="@Model.PhoneNumber" class="text-danger"></span>
            </div>
        </div>
        <center class="pt-4">
            <button type="submit" name="Id" value="@Model.Id" class="btn btn-warning">Edit Manufacturer</button>
        </center>
    </form>
</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}