@model OveralStatistic

@{
    ViewData["Title"] = "Junjuria store";
}
<center class="text-warning">
    <div class="px-0 mx-0" id="indexBgr">
        <div class="d-flex justify-content-center pt-2">
            <h1 class="m-0 text-warning"><i class="fa fa-gift"></i> &nbsp;@ViewData["Title"]</h1>
        </div>
        <hr class="hr-jun w-50 my-2" />

        <h2 class="font-italic py-3"> The team of Junjuria store greats you traveler.</h2>
        <div class="w-75">
            @if (Model.TotalProductsCount > 0)
            {
                <h3 class="pt-4"><i class="fa fa-gift"></i> In our modest store you can find... @Model.TotalProductsCount products</h3>
            }
            @if (Model.TotalManufacturersCount > 0)
            {
                <hr class="w-50 py-4" />
                <h3><i class="fas fa-shopping-bag"></i> We sell products of @Model.TotalManufacturersCount reputed manufacturers...</h3>
            }
            @if (Model.TotalOrdersCount > 0)
            {
                <hr class="w-50 py-4" />
                <h3><i class="fas fa-sign-language"></i> We have accomplished @Model.TotalOrdersCount successfull orders so far...</h3>
            }
            @if (Model.TotalUsersCount > 0)
            {
                <hr class="w-50 py-4" />
                <h3><i class="fas fa-users"></i> We have @Model.TotalUsersCount happy customers signed up to our platform.</h3>
            }
            @if (Model.TotalServicePersonal > 0)
            {
                <hr class="w-50 py-4" />
                <h3><i class="fas fa-shopping-bag"></i> We have technical and assistance team of @Model.TotalServicePersonal specialists at your disposal... </h3>
            }
            @if (!User.Identity.IsAuthenticated)
            {
                <hr class="w-50 py-4" />
                <h3 class="font-italic">Dont wait <a asp-area="Identity" asp-page="/Account/Register">sign in</a> now! Or <a asp-area="Identity" asp-page="/Account/Login">log in</a> if you already have an account</h3>
            }
        </div>
    </div>
</center>