@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}
<div class="d-flex justify-content-center pt-3">
    <h1><i class="fas fa-sign-in-alt"></i> &nbsp; @ViewData["Title"]</h1>
</div>
<hr class="hr-jun w-50" />
<center>
    <div class="w-75 justify-content-center">
        <div class="w-50 justify-content-center">
            <h4><em>Login with your previous registration:</em></h4>
            <hr class="hr-jun" />
            <section>
                <form id="account" method="post">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="w-75">
                        <div class="form-group">
                            <label class="font-weight-bold h5" asp-for="Input.EmailOrUserName"> Email Or Username:</label>
                            <input asp-for="Input.EmailOrUserName" class="form-control" />
                            <span asp-validation-for="Input.EmailOrUserName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label class="font-weight-bold h5" asp-for="Input.Password"></label>
                            <input asp-for="Input.Password" class="form-control" />
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                        </div>
                        <div class="row d-flex justify-content-between">
                            <div class="col-md-6 form-group checkbox pt-3 pl-0 ml-0">
                                <label class="text-info" asp-for="Input.RememberMe">
                                    <input asp-for="Input.RememberMe" />
                                    @Html.DisplayNameFor(m => m.Input.RememberMe)
                                </label>
                            </div>
                            <div class="col-5 form-inline justify-content-end">
                                <button type="submit" class="btn btn-success">Log in</button>
                            </div>
                        </div>
                        <div class="row d-flex justify-content-between">
                            <div class="col-5">
                                <p>
                                    <a class="btn bg-jun" asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                                </p>
                            </div>
                            <div class="col-6">
                                <p>
                                    <a class="btn bg-jun" id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </form>
            </section>
        </div>
    </div>
    <div class="w-75 justify-content-center">
        <div class="w-50 justify-content-center">
            <hr class="hr-jun" />

            <div class="row ">
                <div class="col-9 float-left">
                    <h4 align="left">
                        <em> &nbsp;Login with your facebook account:</em>
                    </h4>
                </div>
                <div class="col-2 float-right pr-0 mr-0">
                    <form asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-inline">
                        @{
                            var provider = Model.ExternalLogins.Where(x => x.Name == "Facebook").FirstOrDefault();
                            <button type="submit" class="btn btn-primary btn-sm" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                        }
                    </form>
                </div>
            </div>
            <hr class="hr-jun" />
        </div>
    </div>
</center>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}