@{
    PurchaseItemDto[] basket = Context.Session.Keys.Any(x => x == "Basket") ?
                                              JsonConvert.DeserializeObject<PurchaseItemDto[]>(Context.Session.GetString("Basket"))
                                              : new PurchaseItemDto[0];
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Junjuria Store</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/lib/bootstrap-toggler/css/bootstrap4-toggle.css v3.5.0.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
              crossorigin="anonymous"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" />

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.5.0/css/bootstrap4-toggle.min.css"
              asp-fallback-href="~/lib/bootstrap-toggler/css/bootstrap4-toggle.css v3.5.0.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
              crossorigin="anonymous"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" />
    </environment>
    @*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">*@

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.css" integrity="sha256-piqEf7Ap7CMps8krDQsSOTZgF+MU/0MPyPW2enj5I40=" crossorigin="anonymous" />

    <link rel="stylesheet" href="~/css/JunjuriaStyles.css" />
</head>
<body>
    <!--================ Start Header Menu Area =================-->
    <header class="header_area">
        <nav class="navbar navbar-expand-lg navbar-light bg-jun px-4">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0 ">
                <li><a class="navbar-brand" asp-controller="Home" asp-action="Index"><i class="fa fa-gift fa-lg"></i>&nbsp;<span class="font-weight-bolder"> JunjuriaStore</span></a></li>
                <li>
                    <form class="form-inline ml-4" asp-controller="Products" asp-action="Search" method="get">
                        <input type="hidden" name="returnPath" value="@this.Context.Request.Path" />
                        <input type="search" name="phrase" class="form-control mr-sm-1 ml-sm-2" placeholder="Search For product..." required minlength="2">
                        <button class="btn btn-link btn-xs" type="submit">
                            <i class="fa fa-search text-info fa-lg"></i>
                        </button>
                    </form>
                </li>
            </ul>
            @*<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>*@


            <div class="collapse navbar-collapse d-flex align-self-end" id="navbarToggler">
                <ul class="navbar-nav ml-auto mt-2 mt-lg-0 ">
                    <li class="nav-item">
                        <div class="ml-2">
                            @RenderSection("AdditionalFunc", required: false)
                        </div>
                    </li>
                    <partial name="./LayoutButtons/_MyCartPartial" model="@basket" />

                    <partial name="./LayoutButtons/_MyAccountPartial" />

                    <partial name="./LayoutButtons/_ServicePartial" />

                </ul>
            </div>
            @*<ul class="navbar-nav mt-2 mt-lg-0 ">
                    @RenderSection("AdditionalFunc", required: false)
                </ul>*@
        </nav>
    </header>

    <div class="sideBar my-4">
        <ul class="list-group list-group-flush mt-3 list-group-hover">
            @await Component.InvokeAsync("CategoryMenu")
            <li class="list-group-item list-group-item-action  navbar-brand font-weight-bold pl-0 bg-jun"><a class="text-decoration-none text-jun" asp-controller="Products" asp-action="All">All Products </a> </li>
            <li class="list-group-item list-group-item-action  navbar-brand font-weight-bold pl-0 bg-jun"><a class="text-decoration-none text-jun" asp-controller="Products" asp-action="OnSale">On Sale </a> </li>
            <li class="list-group-item list-group-item-action  navbar-brand font-weight-bold pl-0 bg-jun"><a class="text-decoration-none text-jun" asp-controller="Products" asp-action="MostPurchased">Most Purchased</a></li>
            <li class="list-group-item list-group-item-action  navbar-brand font-weight-bold pl-0 bg-jun"><a class="text-decoration-none text-jun" asp-controller="Products" asp-action="MostCommented">Most Commented</a></li>
            <li class="list-group-item list-group-item-action  navbar-brand font-weight-bold pl-0 bg-jun"><a class="text-decoration-none text-jun" asp-controller="Products" asp-action="BestRated">Best Rated</a></li>
            <li class="list-group-item list-group-item-action  navbar-brand font-weight-bold pl-0 bg-jun"><a class="text-decoration-none text-jun" href="#">Delivery Methods</a></li>
            @RenderSection("ProductFilter", required: false)
        </ul>
        @if (!IsSectionDefined("SidebarFilter"))
        {
            <p id="sidebar-txt">Odds and ends products for various customers and various purposes.</p>
        }
        @RenderSection("SidebarFilter", required: false)
    </div>
    <div class="m-sidebar">
        <main>
            <partial name="_CookieConsentPartial" />
            <div class="d-inline">
                @RenderBody()
            </div>

        </main>
    </div>
    <footer class="border-top footer bg-jun ">
        <div class="d-flex justify-content-between px-4">
            <p class="my-0">   &copy; 2019 - Junjuria Store - Something for someone...</p>
            @if (User.Identity.IsAuthenticated)
            {
                <p class="my-0"><em>Currently logged as : </em><strong>@User.Identity.Name</strong></p>
            }
            else
            {
                <p class="my-0"><em>Currently No Logged User!</em></p>
            }
            <p class="my-0"><span class="text-muted italic">Privacy policy</span> &nbsp; - &nbsp; <a asp-controller="Home" asp-action="Privacy">Privacy</a></p>
        </div>
    </footer>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/popper/popper.min.js"></script>

        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
        <script src="~/lib/bootstrap-toggler/js/bootstrap4-toggle.min.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o">
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
                crossorigin="anonymous">
            integrity = "sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        </script>
        <script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.5.0/js/bootstrap4-toggle.min.js">
        </script>
    </environment>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)

    <script>
        $(function () {
            $('[data-toggle="popover"]').popover()
        })</script>
</body>
</html>

