@model OrderStatusChangeOut
<center>
    <h2> Order id: <mark>@Model.OrderId</mark> got attended by our assistance team</h2>
    <h3>
        Congratulations you have created order in our Junjuria store.
    </h3>
    <h4>Order's value is @Model.Value.ToString("F2") @Html.Raw(GlobalConstants.MoneySign)</h4>
    <h4> Previous Status:<strong> @Model.PreviousStatus.ToString().SplitWords()</strong></h4>
    <h4> Current Status: <strong> @Model.CurrentStatus.ToString().SplitWords()</strong></h4>
    <h4>
        Order created on 
        <strong>
            @GlobalConstants.ServerTimeConvert(Model.OrderDateTime)
        </strong>    server time.
        @if (Model.CurrentStatus != Status.Arrived || Model.CurrentStatus != Status.Canceled)
        {
            <span>
                Your order will be processed additionally by one of our assistanse managers,
                monitor your order's progress in our site or via email notifications.
            </span>
        }
    </h4>
</center>
<p style="color:red;font-style:italic" h5">Your order is created for demonstrational purposes, no real order has been made, no payment is required no products will be delivered. Worry not :)</p>